<!--TASK 1-->
<!DOCTYPE html>
<html lang="ro">
  
<head>
    <!--TASK 2-->
    <meta charset="UTF-8">
    <meta name="keywords" content="lego, jocuri, joc, timp liber, copii, legobin">
    <meta name="description" content="Magazin de jocuri lego. Jocurile lego sunt pentru toata lumea!">
   
    <!--TASK 3-->
    <title>LEGOBIN</title>
    <%- include("../fragmente/head.ejs") %>


   
</head>
 <!--TASK 5-->
<body>
    


    <%- include("../fragmente/header.ejs") %>
    </header>
    <main>
        <p>404 Error</p>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>