<!--TASK 1-->
<!DOCTYPE html>
<html lang="ro">
  
<head>
    <!--TASK 2-->
    <meta charset="UTF-8">
    <meta name="keywords" content="lego, jocuri, joc, timp liber, copii, legobin">
    <meta name="description" content="Magazin de jocuri lego. Jocurile lego sunt pentru toata lumea!">
   
    <!--TASK 3-->
    <title>LEGOBIN</title>
    <%- include("../fragmente/head.ejs") %>


    <!-- <style>
       body{
                --inalt-meniu:2rem;
            }
            nav{
                height:var(--inalt-meniu);
                width:100%;
                background-color: aqua;
                position:fixed;
                top:0;
                left:0;
                z-index: 2;

            }
            nav ul, nav li, nav a,nav{
                padding:0;
                margin:0;
            }
            ul.meniu li{          
            box-sizing: border-box;
            width:120px;
            text-align: center;
            list-style-type: none;
            height:var(--inalt-meniu);
            float:left;
            }
            ul.meniu ul{
                display:none;
            } 
            ul.meniu>li>div{
                z-index: 2;
                position: relative;
            }
            ul.meniu>li>ul{
                z-index: 1;
                position: relative;
            }
            ul.meniu li:hover ul{
                display: block;
                
                position: relative;
                transform-origin: 0 0;
                animation-name: subm;
                animation-timing-function: linear;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
            ul.meniu li:hover>a,ul.meniu li:hover>div{
                background-color:cadetblue;
            }
            ul.meniu li a{
                
                
                display:block;
            }
            ul.meniu li a, ul.meniu li div{
                cursor:pointer;
                background-color: aqua;
                width:100%;
                height:100%;
                transition:all 1s linear;
                box-sizing: border-box;
                outline:1px solid black;  
                text-decoration: none;
                color: black;
                font-weight: bold;
                padding:5px;
            }

            #hamburger{
                display:none;
            }
            #ch-menu{
                display:none;
            }
            h1{
                padding-top:100px;
            }
            @keyframes subm{
                0%{
                    opacity: 0;
                    transform:scale(0,0);
                }
                100%{
                    opacity: 1;
                    
                    transform:scale(1,1);
                }
            }
    </style> -->
</head>
 <!--TASK 5-->
<body>
    


    <%- include("../fragmente/header.ejs") %>
    </header>
    <main>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste numquam, suscipit voluptas molestiae doloremque dignissimos necessitatibus totam quibusdam sint similique quo illum ad cumque temporibus doloribus. Corrupti, alias sapiente. Ab modi quaerat quas assumenda dolorum? Asperiores, magnam ducimus facere harum mollitia saepe obcaecati molestias? Dolorum magni asperiores ratione. Ipsam, at!
        </p>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>