<footer>
        <p>
            <p id="watermark">Copyright &copy; <br> Honciu Bogdan-Cristian</p>
        </p>
        <p id="banner">Acesta este un proiect scolar</p>
    <!--TASK 11-->
<a href="#top">Inceputul paginii</a>

    <!--TASK 13-->
 <address>
    Numar de telefon: <a href="tel:+40712345678">+40712345678</a> <br>
    Adresa: <a href="">Calea Mosilor 260</a><br>
    Email: <a href="mailto:legobin@example.com">LEGOBIN</a>
</address>
    <!--TASK 14-->
    <p><small>Copyright &copy;2021 Honciu Bogdan-Cristian</small></p>
    <p>Site creat in data de: <time  datetime="2021-10-09"> 09 Octombrie 2021 </time></p>
    
    <a href="/terms-and-conditions">Termeni si conditii</a>
    <a href="/privacy-and-policy">Politica de confidentialitate</a>
    <div class="fa-3x">
        <i class="fa-solid fa-sync fa-spin"></i>
        </div>
</footer>