<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="lego, jocuri, joc, timp liber, copii, legobin">
    <meta name="description" content="Magazin de jocuri lego. Jocurile lego sunt pentru toata lumea!">
    <meta name="author" content="Honciu Bogdan-Cristian">
    <!--TASK 3-->
    <title>LEGOBIN</title>
    <!--TASK 4-->
    <link rel="shortcut icon" href="resurse/imagini/favicon2.ico" type="image/x-icon" />

    <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="resurse/css/hr.css" type="text/css" />
    <link rel="stylesheet" href="resurse/css/tabel.css" type="text/css" />
    <link rel="stylesheet" href="resurse/css/general.css" type="text/css" />
    <!--<link rel="stylesheet" href="resurse/css/app.css" type="text/css" />-->
    <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
    <!--<link rel="stylesheet" href="resurse/css/2-arrow-hover.css" type="text/css" />-->
    <link rel="stylesheet" href="resurse/css/schema cromatica.css" type="text/css" />
   <!-- <script src="https://kit.fontawesome.com/01bbef70ee.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="resurse/css/meniu.css" type="text/css" />
    <link rel="stylesheet" href="resurse/css/nav-500.css" type="text/css" media="screen and (max-width:650px)" /> 
    <!-- <link rel="stylesheet" href="resurse/css/nav-mediu.css" type="text/css" media="screen and (max-width:1200px)" media="screen and" />  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/01bbef70ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resurse/css/print.css" type="text/css" media="print" />
    <!-- <link rel="stylesheet" href="resurse/css/dark.css" type="text/css" media="print" /> -->
    <!-- <link rel="stylesheet" href="resurse/css/produs.css" type="text/css" media="print" />
    <link rel="stylesheet" href="resurse/css/produse.css" type="text/css" media="print" /> -->
    <!-- <script src="/resurse/js/tema.js"></script> -->
    <script src="/resurse/js/inregistrare.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- <style>
		label{
			display:block;
		}
	</style>
	<script src="script.js"></script> -->