.nav-main{
    width: 100%;
    background-color: $nav-background-color;
    height: 70px;
    color: $nav-foreground-color;

    .logo {
        float: left;
        height: 40px;
        padding: 15px 30px;
        font-size: 1.4em;
        line-height: 40px;
    }

    > ul {
        @extend %plainlist;
        float:left;

        > li {
            float: left;
        }
    }
}

.nav-item {
    display: inline-block;
    padding: 15px 20px;
    height: 40px;
    line-height: 40px;
    margin: 0;

    &:hover {
        background-color: $nav-hover-color;
        cursor: pointer;
    }
}

.nav-option{
    display: none;

    &:checked{
        ~ .nav-content{
            max-height: 400px;
            @include transition(max-height, 0.4s, ease-in);
        }
        + nav-item{

            background-color: $nav-hover-color;
        }

        ~ .nav-close{
            display: block;
        }
    }
}

.nav-content {
    position: absolute;
    top: 70px;
    max-height: 0;
    overflow: hidden;
    background-color: $nav-background-color;
    z-index: 2;
    color: $nav-foreground-color;

    a{
        color: $nav-foreground-color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.nav-sub{
    padding: 20px;
    ul{
        @extend %plainlist;

        a{
            display: inline-block;
            padding: 5px 0;
        }
    }
}
.nav-close{
    display: none;
    position: absolute;
    top:70px;
    left:0;
    height: 100%;
    width: 100%;
}
.nav-close-option{
    display: none;
}

@media only screen and (max-width: 600px){
    .legobin{
        display: none;
    }
}

.flex-container {
    display: flex;
    justify-content: flex-end;
  }

  .button-iframe{
 background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }
 .button-iframe:hover {
    background-color: #3e8e41;
  }

.frame{
    border: 10px solid green;
}